<div class="container mt-5">
    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <h2>Đăng kí</h2>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">
          <label for="userName">Tên hiển thị</label>
          <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Nhập tên bạn muốn hiển thị">
          <p id="userNameHelp"class="invalid" *ngIf="email.invalid && email.touched"> Hãy nhập tên bạn muốn hiển thị</p>
        </div>
        <div class="form-group">
          <label for="email">Email của bạn</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Nhập email của bạn">
          <p id="emailHelp"class="invalid" *ngIf="email.invalid && email.touched"> Hãy nhập email</p>
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Nhập vào mật khẩu">
          <p id="" class="invalid" *ngIf="password.errors?.['required'] && password.touched">Hãy nhập vào mật khẩu</p>
          <p class="invalid" *ngIf="password.errors?.['minlength']">Mật khẩu phải ít nhất 6 kí tự</p>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu">
            <p class="invalid" *ngIf="confirmPassword.errors?.['matching']">Mật khẩu phải trùng với mật khẩu đã nhập</p>
          </div>
          <hr>
        <div class="d-flex w-100 justify-content-center">
            <button type="submit"class="btn btn-primary w-100">Submit</button>
        </div>
    </form>   
    </div>
</div>
