<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col">
        <div class="list-group" >
          <div class="list-group-item list-group-item-action mt-5 border">
            <app-list-item [items]="shirts" titleName="Áo mới nhất"></app-list-item>
          </div>
          <div class="list-group-item list-group-item-action mt-5 border">
            <app-list-item [items]="trousers" titleName="Quần mới nhất"></app-list-item>
          </div>
          <div class="list-group-item list-group-item-action mt-5 border">
            <app-list-item [items]="shoes" titleName="Giày mới nhất"></app-list-item>
          </div>
          <div class="list-group-item list-group-item-action mt-5 border">
            <app-list-item [items]="caps" titleName="Mũ mới nhất"></app-list-item>
          </div>
          <div class="list-group-item list-group-item-action mt-5 border">
            <app-list-item [items]="watches" titleName="Đồng hồ mới nhất"></app-list-item>
          </div>
        </div>
      </div>
  </div>
</div>